@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.background {
  width: 100%;
  height: 100%;
  position: relative;
}

.nav {
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  margin-top: 3%;
  margin-left: 2%;
  width: 90%;
  text-align: right;
  font-size: 22px;
  font-family: 'Source Sans Pro', sans-serif;
}

.logo {
  position: absolute;
  margin-top: 2%;
  margin-left: 2%;
}

.nav > a {
  margin-right: 15px;
}

.nav > a:hover {
  cursor: pointer;
}

.moonImage {
  align-self: center;
  position: absolute;
  width: 100%;
  text-align: center;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.moonImage > img {
  width: 40vw;
  height: auto;
}

.texts {
  font-weight: bold;
  color: #ffffff;
  margin-top: 17px;
  font-family: 'Source Sans Pro', sans-serif;
}

.texts.title {
  font-size: 33px;
}

.button {
  background-color: #6754fb;
  border-radius: 11px;
  width: 200px;
  height: 40px;
  border: 1px solid #6754fb;
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
}

.button:hover {
  background-color: #8364f1;
  cursor: pointer;
}
